Telegram_bot_starter_template_setup.json
{
  "name": "Meu bot Telegram (Ajustado)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "5d9cf2ce-4808-4d44-9f0d-2c15d8dcea91",
      "name": "Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        220,
        -1120
      ],
      "webhookId": "96a20e88-ba8f-4827-b874-b0a9867c59e9",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "7pqCdPnEXQvRtJUr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $('Trigger').item.json.message.hasOwnProperty('text') }}"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "id": "0b597db9-d240-4be3-90f3-095117b1c6bc",
      "name": "Switch_MessageType",
      "type": "n8n-nodes-base.switch",
      "position": [
        480,
        -1120
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "startsWith"
              },
              "leftValue": "={{ $('Trigger').item.json.message.text }}",
              "rightValue": "/"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "71907904-21f3-459c-a445-ca44a432dd36",
      "name": "Command?",
      "type": "n8n-nodes-base.if",
      "position": [
        720,
        -1120
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $('Trigger').item.json.message.text }}",
                    "rightValue": "/help"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/help"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $('Trigger').item.json.message.text }}",
                    "rightValue": "/status"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/status"
            }
          ]
        },
        "options": {}
      },
      "id": "58008f10-7336-4633-ab15-51556e3b53bd",
      "name": "Switch_Commands",
      "type": "n8n-nodes-base.switch",
      "position": [
        1000,
        -1120
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "chatId": "={{ $('Trigger').item.json.message.from.id }}",
        "text": "Comandos",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "dd925066-f315-4f22-b0b0-ea182606d55b",
      "name": "/Help",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1240,
        -1280
      ],
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "7pqCdPnEXQvRtJUr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Trigger').item.json.message.from.id }}",
        "text": "Bot ativo!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "7edecce3-6371-45ab-8dc1-f3e1a2052daa",
      "name": "/Status",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1240,
        -1000
      ],
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "7pqCdPnEXQvRtJUr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Trigger').item.json.message.from.id }}",
        "text": "Por enquanto estou aceitando apenas comandos.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "a86fe429-65df-471b-bdcb-e4765b14f109",
      "name": "Telegram4",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1240,
        -840
      ],
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "7pqCdPnEXQvRtJUr",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Switch_MessageType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_MessageType": {
      "main": [
        [
          {
            "node": "Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command?": {
      "main": [
        [
          {
            "node": "Switch_Commands",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Commands": {
      "main": [
        [
          {
            "node": "/Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "America/Sao_Paulo",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v0"
  }
}
